body {
    margin: 10px;
  }
.container{
    display: grid;
    grid-template-columns:  320px auto;
    grid-template-rows: 1fr 1fr 5fr 1fr;
}
    .cell {
            align-items: center;
            border: solid grey thin;
            color: white;
            display: flex;
            font-size: 2em;
            justify-content: center;
}
#one{
    background-color: #96ceb4;
    grid-column-start:1;
    grid-column-end:3;
}
#two{
    background-color: #ff6f69;
    writing-mode: vertical-rl;
    grid-row-start: 2;
    grid-row-end: 5;
}
#three{
    background-color: #9dc183;
    grid-column-start: 2;
}
#four{
    background-color: #ffcc5c;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
}
#five{
    background-color: #b784a7;
    grid-row-start:5;
    grid-column-start:1;
    grid-column-end: 3;
}