#grid{
    display: grid;
    grid-template-columns:repeat(5,1fr) ;
    grid-template-rows: .5fr .5fr;
    text-align: center;
}
    .cell {
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px rgba(0,0,0,0.2);
    text-align: center;
    border: 5px solid black;
   
 
}
 #one{
    background-color:aquamarine ;
}
#two{
    background-color: #FFCCCB;
}
#three{
    background-color:#90EE90 ;
}
#four{
    background-color: #FFFF33;
}
#five{
    background-color:#1D2F6F ;
}
#six{
    background-color: #D1D646;
}
#seven{
    background-color:#29E7CD;
}
#eight{
    background-color: #E396DF;
}
#nine{
    background-color:#D7263D ;
}
#ten{
    background-color: #E8871E;
}
