#grid{
    display: grid;
    grid-template-columns:repeat(5,1fr) ;
    grid-template-rows: .5fr .5fr;
    text-align: center;
}
    .cell {
        align-items: center;
        border: solid grey thin;
        color: white;
        display: flex;
        font-size: 2em;
        justify-content: center;
}
 #one{
    background-color: #96ceb4;
}
#two{
    background-color: #ff6f69;
}
#three{
    background-color: #9dc183;
}
#four{
    background-color: #ffcc5c;
}
#five{
    background-color: #b784a7;
}
#six{
    background-color: #9dc183;
}
#seven{
    background-color: #96ceb4;
}
#eight{
    background-color: #ffcc5c;
}
#nine{
    background-color: #9dc183;
}
#ten{
    background-color: #b784a7;
}
